Flask==2.1.1
requests==2.26.0
pytest==6.2.5

# Outils d'analyse de code et sécurité
pylint==2.17.4
flake8==6.0.0
bandit==1.7.5
coverage==7.2.0
sonarqube-api==1.3.0

# Outils de test
pytest-cov==4.1.0
pytest-timeout==2.1.0

